body {
    background-color: #293f51;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: rgb(180, 180, 180);
}

h1 {
    color: rgb(176, 33, 33);
    font-size: 60px;
}
a {color:rgb(176, 33, 33)}