body {
    /* --- Layout Properties for Centering --- */
    display: grid;
    place-items: center;
    /* Centers content horizontally and vertically */
    min-height: 100vh;
    /* Ensures the body takes up the full screen height */
    margin: 0;
    /* Removes default browser margins */
    background-color: #141315;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
    color: #888888;
}

h1 {
    color: #e0e0e0;
    font-size: 60px;
    margin-bottom: 0;
}

h2 {
    margin-top: 0
}

a {
    color: rgba(0, 240, 255, 0.4)
}

h1:hover {
    text-shadow: 0 0 10px rgba(0, 240, 255, 0.4);
}